<ion-grid>
  <ion-row><ion-col size="12" size-md="6" offset-md="3"> </ion-col> </ion-row>

  <ion-row>
    <ion-col size="12" size-md="6" offset-md="3">
      <ion-card class="ion-text-center">
        <ion-card-title>New users</ion-card-title>

        <ion-card-content class="vertical-align-content">
          <ion-input #usersToGenerate placeholder="Number of users"></ion-input>
          <input
            type="file"
            (change)="onSelectPictures($event.target.files)"
            multiple="multiple"
            accept="image/*"
            style="display: none"
            #pictureUpload
          />
          <ion-button (click)="pictureUpload.click()">Pick profile pictures</ion-button>
          <ion-button (click)="onGenerateUsers(usersToGenerate.value)"
            >Generate</ion-button
          >
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
