<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mock Data Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-test-generator></app-test-generator>
  <app-account-generator></app-account-generator>
  <app-user-generator></app-user-generator>
  <app-picture-generator></app-picture-generator>
  <app-match-generator></app-match-generator>
  <app-pi-generator></app-pi-generator>
  <app-chat-generator></app-chat-generator>
  <app-delete-users></app-delete-users>
  <app-delete-data></app-delete-data>
  <app-delete-storage></app-delete-storage>
</ion-content>
