<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" offset-md="3">
      <ion-card class="ion-text-center">
        <ion-card-title>Upload pictures for specific user</ion-card-title>

        <ion-card-content class="vertical-align-content">
          <ion-input #uid placeholder="ID of the user" type="text"></ion-input>
          <input
            type="file"
            (change)="onSelectPictures($event.target.files)"
            multiple="multiple"
            accept="image/*"
            style="display: none"
            #pictureUpload
          />
          <ion-button (click)="pictureUpload.click()">Pick pictures</ion-button>

          <ion-button (click)="onClickGenerate(uid.value)">Generate</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
