<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mock Data Management
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="onClickTest()">Test </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            Generate new users
          </ion-card-header>
          <ion-card-content class="vertical-align-content">
            <ion-input
              [(ngModel)]="usersToGenerate"
              placeholder="Number of users"
            ></ion-input>

            <ion-button (click)="onGenerateUsers()">Generate Users</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
